Package: fr.lululombard.certremaintime
Name: CertRemainTime
Version: 1.0
Architecture: iphoneos-arm
Description: An app to check how much time is remaining for your yalu cert
Maintainer: lululombard <contact@lululombard.fr>
Author: lululombard <contact@lululombard.fr>
Section: Utilities
