Package: fr.lululombard.certremaintime
Name: CertRemainTime
Version: 2.0.1
Architecture: iphoneos-arm
Description: Basic App to know when you'll need to resign your Jailbreak tool
Maintainer: lululombard <contact@lululombard.fr>
Author: lululombard <contact@lululombard.fr>
Section: Utilities
