Package: fr.lululombard.certremaintime
Name: CertRemainTime
Version: 2.3.6
Architecture: iphoneos-arm
Description: Basic App to know when you'll need to resign your Jailbreak tool
Maintainer: lululombard <contact@lululombard.fr>
Author: lululombard <contact@lululombard.fr>
Section: Utilities
Pre-Depends: firmware (>= 8.0)
